/* 
* A SORCER Provider Jini configuration for the SSU2 Provider example.
* by Piotr Sukiennik
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.ssu2.provider.*;
import sorcer.ssu2.provider.ui.mvc.*;

sorcer.core.provider.ServiceProvider {
		properties = "..${/}configs${/}prv.properties";
		name="SSU2";
		publishedInterfaces = new Class[] { sorcer.ssu2.provider.Hoare.class, sorcer.ssu2.provider.ServiceHoare.class };
		description = "Example of a SORCER JERI provider";
		location = "SORCER Lab 20B - CS TTU";
		entries = new Entry[] { 
		    HoareView.getUIDescriptor(),
			new Comment("TTU teaching example"),
			new Location("3", "310", "CP TTU") };
        // if not declared the default exporter is BasicJeriExporter
        //exporter = new JrmpExporter(0);
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        iconName="sorcer.jpg";
}
	

